.secondaryButton {
    padding: 10px;
    border: 1.5px solid #1F7A8C;
    border-radius: 6px;
    background-color: transparent;
    color: #1F7A8C;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .4s;
    &:hover {
    background-color: #1F7A8C;
    color: white;
    }
}