.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-width: 250px;
    box-shadow: 3px 3px 10px #797979;
    border-radius: 6px;
    transition: all .4s;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 3px 10px 17px #201f1f;
        img {
            transform: scale(1.1);
        }
    }

    .product-name,
    .product-description,
    .product-price,
    .product-button {
        width: 100%;
        padding: 0 15px;
        margin: 5px 0;
    }

    .product-img {
        width: 100%;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
            transition: all .4s;

        }

    }

    .product-name {

        h3 {
            margin-bottom: 10px;
            color: #575555;
        }

        hr {
            margin: 0 5px;
        }
    }

    .product-description {
        font-weight: 300;
    }

    .product-price {
        font-weight: 600;

        p {
            font-size: 30px;
            color: #be4c1b;
        }
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}