* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #e3e3e3;
    box-shadow: 0 3px 16px #494848;
    flex-direction: column;
    .header__container {
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            width: 200px;
            height: 80px;
        }
        .nav {

            .nav__item {
                font-size: 16px;
                padding: 10px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 700;
                color: #232323;
                text-decoration: none;
                border: none;
                background-color: transparent;
                transition: all .4s;
                
            }
            .nav__option {
                &:hover {
                    background-color: #FF3130;
                    color: white;
                }
            }
            .userWidget {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-left: 10px;
                text-decoration: none;
                &::before {
                    content: "";
                    height: 20px;
                    width: 2px;
                    background-color: #c9c4c4;
                }
                .userIcon-container {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    text-decoration: none;
                    p {
                        margin: auto 0;
                        display: inline;
                        font-size: 10px;
                        text-decoration: none;
                        color: #232323;
                    }
                }
            }
        }
        .nav-responsive {
            display: flex;
            padding: 24px;
            position: absolute;
            top: 70px;
            right: 0px;
            margin: 10px 8px;
            flex-direction: column;
            gap: 10px;
            background-color: #232323;
            border-radius: 16px;
            
            justify-content: center;
            align-items: center;
            .nav-responsive__item {
                color: #c9c4c4;
                font-size: 16px;
                padding: 10px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 700;
                text-decoration: none;
                border: none;
                background-color: transparent;
                transition: all .4s;
                
            }
            .nav-responsive__option {
                &:hover {
                    background-color: #FF3130;
                    color: white;
                }
            }
            .userWidget-responsive {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                text-decoration: none;
                &::before {
                    content: "";
                    height: 20px;
                    width: 2px;
                    background-color: transparent;
                }
                .userIcon-container {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    text-decoration: none;
                    color: #c9c4c4;
                    p {
                        margin: auto 0;
                        display: inline;
                        font-size: 16px;
                        text-decoration: none;
                    }
                    .user {
                        color: #c9c4c4;
                    }
                }
            }
        }
    }
}





