.loadingCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    min-width: 250px;
    border-radius: 6px;
    @keyframes fade {
        0%,
        100% {
            background-color: #f0ebeb;
        }
        50% {
            background-color: #d5d5d5;

        }
    }

    .loading-1 {
        height: 150px;
        animation: fade 2s ease-in-out infinite;
    }
    .child { 
        margin: 0 10px;
        height: 20px;
        animation: fade 2s ease-in-out .3s infinite;
    }
    .loading-2 {
        margin-top: 10px;
        margin-bottom: 20px;
        .child-1 {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 80%;
        }
        .child-2 {
            width: 60%;
    }
   
    }
    .loading-3 {
        height: 100px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 5px;

        }
        .child-3 {
            margin-bottom: 20px;
            height: 30px;
            width: 30%;
        }
        .child-4 {
            width: 90%;
            height: 40px;
            border-radius: 6px;
        }
}