.section-contianer__subtitle {
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
}

.orderSummary-container {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #03030367;
    border-radius: 10px;
    padding: 20px;
    h3 {
        font-size: 18px;
        padding-bottom: 10px;
        border-bottom: 1px solid #03030367;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 2;
        span {
            font-weight: 700;
        }
    }
    .products__p {
        padding-top: 10px;
        border-top: 1px solid #03030367;
        margin-top: 20px;
    }
    .orderSummaryProducts-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: fit-content;
    }
    .orderSummary-total {
        font-size: 25px;
        margin-bottom: 20px;
        span {
            color: #14ac5d;
        }
    }
}